#mu-why-us {
	background-color: green;
	float: left;
	padding: 50px 0 100px;
	display: inline;
	width: 100%;
}

.mu-why-us-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-why-us-area h2 {
	color: #333;
	
}

.mu-why-us-content {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-why-us-single {
	display: inline;
	float: left;
	width: 100%;
	padding: 0 5px;
}

.my-why-us-single-icon {
	border: 1px solid #ccc;
	font-size: 30px;
	display: inline-block;
	width: 85px;
	height: 85px;
	line-height: 85px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.mu-why-us-single h3 {
	font-size: 22px;
	margin-bottom: 15px;
}

.mu-why-us-single p {
	font-size: 15px;
}
.bomma{
	width:10px;
	height: 10px;
}